/*  your css code here. If applicable */
#container{
	background-color:rgba(191,191,191) ;
	border:5px solid black;
	width:500px;
	height:180px;
	border-radius:40px;
	display:flex;
	justify-content:center;
	align-items:center;
}
#green{
	height: 100px;
  width: 100px;
  background-color: green;
  border-radius: 50%;
	margin-right:10px
	
}
#yellow{
	height: 100px;
  width: 100px;
  background-color: yellow;
  border-radius: 50%;
	margin-right:10px
}
#red{
	height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;

}
#red{
	
}